.input {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.input label,
.input input {
  font-size: 2rem;
}

.input label {
  font-family: poppins-semi-bold;
  margin-bottom: 0.8rem;
}

.input input {
  padding: 1.6rem;
  border-radius: 1.2rem;
}

.input p {
  color: var(--danger-color);
  font-size: 1.8rem;
  margin-top: 0.4rem;
  display: none;
}

.input input:invalid[class="focussed_input"] {
  border: 0.2rem solid var(--danger-color);
}

.input input:invalid[class="focussed_input"] ~ p {
  display: block;
}
