.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0px;
}

.navbar h1 {
  font-family: poppins-bold;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 24px;
}

.navbar ul li {
  list-style: none;
}

.navbar > ul > li > a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar > ul > li > a > img {
  max-width: 30px;
}
