@font-face {
  font-family: poppins-black;
  src: url("/fonts/Poppins-Black.ttf") format(TrueType);
}

@font-face {
  font-family: poppins-black-italic;
  src: url("/fonts/Poppins-BlackItalic.ttf") format(TrueType);
}

@font-face {
  font-family: poppins-bold;
  src: url("/fonts/Poppins-Bold.ttf") format(TrueType);
}

@font-face {
  font-family: poppins-bold-italic;
  src: url("/fonts/Poppins-BoldItalic.ttf") format(TrueType);
}

@font-face {
  font-family: poppins-extra-bold;
  src: url("/fonts/Poppins-ExtraBold.ttf") format(TrueType);
}

@font-face {
  font-family: poppins-extra-bold-italic;
  src: url("/fonts/Poppins-ExtraBoldItalic.ttf") format(TrueType);
}

@font-face {
  font-family: poppins-extra-light;
  src: url("/fonts/Poppins-ExtraLight.ttf") format(TrueType);
}

@font-face {
  font-family: poppins-extra-light-italic;
  src: url("/fonts/Poppins-ExtraLightItalic.ttf") format(TrueType);
}

@font-face {
  font-family: poppins-italic;
  src: url("/fonts/Poppins-Italic.ttf") format(TrueType);
}

@font-face {
  font-family: poppins-light-italic;
  src: url("/fonts/Poppins-LightItalic.ttf") format(TrueType);
}

@font-face {
  font-family: poppins-medium;
  src: url("/fonts/Poppins-Medium.ttf") format(TrueType);
}

@font-face {
  font-family: poppins-medium-italic;
  src: url("/fonts/Poppins-MediumItalic.ttf") format(TrueType);
}

@font-face {
  font-family: poppins-regular;
  src: url("/fonts/Poppins-Regular.ttf") format(TrueType);
  font-weight: 400;
}

@font-face {
  font-family: poppins-semi-bold;
  src: url("/fonts/Poppins-SemiBold.ttf") format(TrueType);
}

@font-face {
  font-family: poppins-semi-bold-italic;
  src: url("/fonts/Poppins-SemiBoldItalic.ttf") format(TrueType);
}

@font-face {
  font-family: poppins-thin;
  src: url("/fonts/Poppins-Thin.ttf") format(TrueType);
}

@font-face {
  font-family: poppins-thin-italic;
  src: url("/fonts/Poppins-ThinItalic.ttf") format(TrueType);
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: poppins-regular;
  /* Set the base font size to 10px (62.5% of 16px) */
  /* font-size: 1.6rem;  Equivalent to 16px (1.6 * 10px) */
  --primary-color: #4da1ff;
  --secondary-color: #00dfa2;
  --tertiary-color: #f4ce14;
  --danger-color: #ff0060;

  /* button color */
  --primary-button-color: var(--primary-color);
  --primary-button-color-on-hover: #3e81cc;
  --secondary-button-color: var(--secondary-color);
  --secondary-button-color-on-hover: #00b282;
  --tertiary-button-color: var(--tertiary-color);
  --tertiary-button-color-on-hover: #c3a510;
  --danger-button-color: var(--danger-color);
  --danger-button-color-on-hover: #cc004d;
}

html,
body {
  font-size: 62.5%;
  overflow-x: hidden;
}

p {
  font-family: poppins-regular;
}

h1 {
  font-family: poppins-extra-bold;
}

h2,
h3 {
  font-family: poppins-bold;
}

h4,
h5 {
  font-family: poppins-semi-bold;
}

h6 {
  font-family: poppins-regular;
}

hr {
  border: 0.1rem solid #000;
}

.primary_color {
  background-color: var(--primary-color);
}

.secondary_color {
  background-color: var(--secondary-color);
}

.tertiary_color {
  background-color: var(--tertiary-color);
}

.danger_color {
  background-color: var(--danger-color);
}

.default_color {
  background-color: var(--default-color);
}

.primary {
  background-color: var(--primary-button-color);
}

.primary:focus,
.primary:hover {
  box-shadow: 6px 6px 2px 1px #0079ff60;
  background-color: var(--primary-button-color-on-hover);
  color: #fff;
}

.secondary {
  background-color: var(--secondary-button-color);
}

.secondary:focus,
.secondary:hover {
  box-shadow: 6px 6px 2px 1px #00b28240;
  color: #fff;
  background-color: var(--secondary-button-color-on-hover);
}

.tertiary {
  background-color: var(--tertiary-button-color);
}

.tertiary:focus,
.tertiary:hover {
  box-shadow: 6px 6px 2px 1px #c8bf7c60;
  color: #fff;
  background-color: var(--tertiary-button-color-on-hover);
}

.danger {
  background-color: var(--danger-button-color);
}

.danger:focus,
.danger:hover {
  box-shadow: 6px 6px 2px 1px #cc004d40;
  color: #fff;
  background-color: var(--danger-button-color-on-hover);
}

.secondary_primary {
  background-color: #fff;
  color: var(--primary-button-color);
}

.secondary_primary:focus,
.secondary_primary:hover {
  color: #000;
  background-color: var(--primary-button-color);
  box-shadow: none;
}

.secondary_secondary {
  background-color: #fff;
  color: var(--secondary-button-color);
}

.secondary_secondary:focus,
.secondary_secondary:hover {
  color: #000;
  background-color: var(--secondary-button-color);
  box-shadow: none;
}

.secondary_tertiary {
  background-color: #fff;
  color: var(--tertiary-button-color);
}

.secondary_tertiary:focus,
.secondary_tertiary:hover {
  color: #000;
  background-color: var(--tertiary-button-color);
  box-shadow: none;
}

.secondary_danger {
  background-color: #fff;
  color: var(--danger-button-color);
}

.secondary_danger:focus,
.secondary_danger:hover {
  color: #000;
  background-color: var(--danger-button-color);
  box-shadow: none;
}

.secondary_simple {
  color: #000;
}

.secondary_simple:focus,
.secondary_simple:hover {
  box-shadow: none;
}

.tertiary_simple,
.tertiary_primary,
.tertiary_secondary,
.tertiary_tertiary,
.tertiary_danger,
.tertiary_disabled {
  border: none;
  padding: 0px 0px;
}

.tertiary_primary {
  color: var(--primary-button-color);
}

.tertiary_secondary {
  color: var(--secondary-button-color);
}

.tertiary_tertiary {
  color: var(--tertiary-button-color);
}

.tertiary_danger {
  color: var(--danger-button-color);
}

.tertiary_simple:hover,
.tertiary_primary:hover,
.tertiary_secondary:hover,
.tertiary_tertiary:hover,
.tertiary_danger:hover {
  text-decoration: underline;
  box-shadow: none;
  color: #000;
  background-color: #fff;
}

.tertiary_primary:hover {
  color: var(--primary-button-color);
}

.tertiary_secondary:hover {
  color: var(--secondary-button-color);
}

.tertiary_tertiary:hover {
  color: var(--tertiary-button-color);
}

.tertiary_danger:hover {
  color: var(--danger-button-color);
}

.carousel_item {
  display: flex;
  object-fit: cover;
  max-width: 100%;
  aspect-ratio: 16/10;
  flex-shrink: 0;
  flex-grow: 0;
  transition: transform 0.3s ease-in-out;
}

.carousel_item:hover {
  transform: scale(1.1);
}

table {
  border: 2px solid rgb(200, 200, 200);
  letter-spacing: 1px;
  font-size: 3.2rem;
  border-radius: 0.8rem;
  padding: 1.2rem;
  /* border-collapse: collapse; */
}

td,
th {
  border-radius: 0.4rem;
  /* border: 2px solid rgb(0, 0, 0); */
  padding: 10px 20px;
}

th {
  text-transform: capitalize;
  font-size: 1.8rem;
  color: #fff;
  background-color: #3468c0;
}

td {
  font-size: 1.8rem;
  text-align: center;

  a {
    font-size: 1.8rem;
  }
}

tr:nth-child(even) td {
  background-color: rgb(230, 230, 230);
}

tr:nth-child(odd) td {
  background-color: rgb(240, 240, 240);
}

caption {
  font-size: 1.6rem;
  padding: 10px;
  a {
    font-size: 1.6rem;
  }
}

tbody {
  font-size: 3.2rem;
}

tfoot {
  font-size: 3.2rem;
  font-weight: bold;
}
