@font-face {
  font-family: poppins-black;
  src: url("/fonts/Poppins-Black.ttf") format(TrueType);
}

@font-face {
  font-family: poppins-black-italic;
  src: url("/fonts/Poppins-BlackItalic.ttf") format(TrueType);
}

@font-face {
  font-family: poppins-bold;
  src: url("/fonts/Poppins-Bold.ttf") format(TrueType);
}

@font-face {
  font-family: poppins-bold-italic;
  src: url("/fonts/Poppins-BoldItalic.ttf") format(TrueType);
}

@font-face {
  font-family: poppins-extra-bold;
  src: url("/fonts/Poppins-ExtraBold.ttf") format(TrueType);
}

@font-face {
  font-family: poppins-extra-bold-italic;
  src: url("/fonts/Poppins-ExtraBoldItalic.ttf") format(TrueType);
}

@font-face {
  font-family: poppins-extra-light;
  src: url("/fonts/Poppins-ExtraLight.ttf") format(TrueType);
}

@font-face {
  font-family: poppins-extra-light-italic;
  src: url("/fonts/Poppins-ExtraLightItalic.ttf") format(TrueType);
}

@font-face {
  font-family: poppins-italic;
  src: url("/fonts/Poppins-Italic.ttf") format(TrueType);
}

@font-face {
  font-family: poppins-light-italic;
  src: url("/fonts/Poppins-LightItalic.ttf") format(TrueType);
}

@font-face {
  font-family: poppins-medium;
  src: url("/fonts/Poppins-Medium.ttf") format(TrueType);
}

@font-face {
  font-family: poppins-medium-italic;
  src: url("/fonts/Poppins-MediumItalic.ttf") format(TrueType);
}

@font-face {
  font-family: poppins-regular;
  src: url("/fonts/Poppins-Regular.ttf") format(TrueType);
  font-weight: 400;
}

@font-face {
  font-family: poppins-semi-bold;
  src: url("/fonts/Poppins-SemiBold.ttf") format(TrueType);
}

@font-face {
  font-family: poppins-semi-bold-italic;
  src: url("/fonts/Poppins-SemiBoldItalic.ttf") format(TrueType);
}

@font-face {
  font-family: poppins-thin;
  src: url("/fonts/Poppins-Thin.ttf") format(TrueType);
}

@font-face {
  font-family: poppins-thin-italic;
  src: url("/fonts/Poppins-ThinItalic.ttf") format(TrueType);
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  /* Set the base font size to 10px (62.5% of 16px) */
  /* font-size: 1.6rem;  Equivalent to 16px (1.6 * 10px) */
  font-size: 62.5%;
  --primary-color: #4da1ff;
  --secondary-color: #00dfa2;
  --tertiary-color: #faef9b;
  --danger-color: #ff0060;

  /* button color */
  --primary-button-color: var(--primary-color);
  --primary-button-color-on-hover: #3e81cc;
  --secondary-button-color: var(--secondary-color);
  --secondary-button-color-on-hover: #00b282;
  --tertiary-button-color: var(--tertiary-color);
  --tertiary-button-color-on-hover: #c8bf7c;
  --danger-button-color: var(--danger-color);
  --danger-button-color-on-hover: #cc004d;
}

p {
  font-family: poppins-regular;
}

h1 {
  font-family: poppins-extra-bold;
}

h2,
h3 {
  font-family: poppins-bold;
}

h4,
h5 {
  font-family: poppins-semi-bold;
}

h6 {
  font-family: poppins-regular;
}
