.accordion {
  border: 0.2rem solid #000;
  border-radius: 1.2rem;
  margin-bottom: 2rem;
  background-color: #fff;
  transition: all 300ms;
}

.accordion:hover {
  box-shadow: -0.6rem 0.6rem var(--primary-color);
}

.accordion.open {
  background-color: var(--secondary-color-60);
}

.accordion_heading {
  padding: 1.6rem 1.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion_heading h3 {
  font-size: 1.6rem;
  padding-right: 2.4rem;
}

.accordion_heading button {
  display: flex;
  align-items: center;
  padding: 0.8rem;
  border: 0.2rem solid #000;
  background-color: var(--primary-color-40);
  border-radius: 50%;
  cursor: pointer;
  transition: 300ms;

  &:hover {
    background-color: var(--primary-color);
  }
}

.accordion_body {
  max-height: 0rem;
  overflow: hidden;
  padding: 0rem 1.6rem;
  transition: max-height 0.5s ease;
}

.accordion_body.open {
  max-height: 30rem;
}

.accordion_icon {
  animation: accordionAnimation 0.5s forwards;
}

.accordion_icon_out {
  animation: accordionAnimationOut 0.5s forwards;
}

@keyframes accordionAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}

@keyframes accordionAnimationOut {
  0% {
    transform: rotate(45deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@media screen and (min-width: 1024px) {
  .accordion_heading h3 {
    font-size: 2rem;
  }
}
