.accordion {
  border: 0.2rem solid #000;
  border-radius: 1.2rem;
  margin-bottom: 1.2rem;
}

.accordion:hover {
  background-color: var(--primary-color);
  box-shadow: 8px 8px 2px 1px #0079ff60;
  transition: 300ms;
}

.accordion_heading {
  cursor: pointer;
  padding: 1.6rem 1.6rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion_body {
  max-height: 0rem;
  overflow: hidden;
  padding: 0rem 1.6rem;
  transition: max-height 0.5s ease;
}

.accordion_body.open {
  max-height: 30rem;
}

.accordion_icon {
  animation: accordionAnimation 0.5s forwards;
}

.accordion_icon_out {
  animation: accordionAnimationOut 0.5s forwards;
}

@keyframes accordionAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

@keyframes accordionAnimationOut {
  0% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes accordionBodyOpen {
  0% {
    opacity: 0;
    transform: translateY(-25%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes accordionBodyClose {
  0% {
    transform: rotate(0%);
  }
  100% {
    transform: rotate(-25%);
  }
}
